  </main>
  <footer>
    <div class="footer-content">
      <p>© 2025 YR Publication | H. no 1-71, Satamrai Village, Shamshabad Mandal, RangaReddy District, Telangana State, 501218.</p>
      <p>Email: <a href="mailto:YRPublication@gmail.com">YRPublication@gmail.com</a> | Phone: +91 8247047291</p>
    </div>
  </footer>
  </div> <!-- 👈 End wrapper -->
  <script src="/js/script.js"></script>
</body>
</html>
